<template>
    <div>
        <div class="md-collection-selector md-collection-selector__checkbox col-sm-1">
            <md-checkbox md-checked.two-way="isSelected" md-disabled.one-way="!isEnabled"></md-checkbox>
        </div>
        <span class="accent-text title">${model.name}</span>
        <p><label>Description:&nbsp;&nbsp;</label>${model.description}</p>
        <p><label>Case ID:&nbsp;&nbsp;</label>${model.caseId}</p>
        <div class="secondary-content">
            <i class="material-icons">send</i>
        </div>
    </div>
</template>