<template >
    
    <require from="../../resources/components/busy-indicator/busyindicator"></require>

    <div class="flipp">
    
    <h4>Scan Documents</h4>
    
    <busy-indicator busy.bind="isBusy"
                    image="../../assets/busy-indicator/5.gif">

        <div class="col-md-3">
            <compose view-model.bind="propertiesViewModel" view="../views/properties.html"></compose>
        </div>
        <div class="col-md-9">
            <compose view-model.bind="previewViewModel" view="../views/preview.html"></compose>
            <button class="waves-effect waves-light btn scan" click.trigger="startScan()">Scanner</button>
        </div>
        
    </busy-indicator>
</template>
