<template >
    
    <require from="../../resources/components/busy-indicator/busyindicator"></require>

    <div bdo dir="rtl">
    
    <div>Scan Documents</div>
    
    <busy-indicator busy.bind="isBusy"
                    image="../../assets/busy-indicator/5.gif">

        <div class="col-md-3">
            <compose view-model.bind="propertiesViewModel" view="../views/properties.html"></compose>
        </div>
        <div class="col-md-offset-3 col-md-6">
            <compose view-model.bind="previewViewModel" view="../views/preview.html"></compose>
        </div>


        <button click.trigger="startScan()"></button>
        
    </busy-indicator>
</template>
